<header>
<div class="container-fluid navbar">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>¯\_(ツ)_/¯</li>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </div>
</div>
</header>
{{outlet}}
<footer>
  <p>thanks for asking</p>
</footer>
