

<h1 class="shrug">¯\_(ツ)_/¯</h1>
<h1 class='welcome'>welcome to shrug</h1>
<div class="row">

<div class="col-md-5">
  <h3>Ask away!</h3>
  {{new-question ask="ask"}}
</div>
<div class="col-md-7">

{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}
</div>
</div>
