<h2>{{model.question.author}}: </h2>
<h1>{{model.question.question}}</h1>
<h3>{{model.question.body}}</h3>

<h1>answers</h1>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
